.DS_Store
*.ovpn
*.conf
*.wgconf
*.wireguard

.env
.env.*
*.pem
*.key
*.crt
*.csr
*.p12
*.pfx
*.jks
*.kdbx
id_rsa
id_rsa.pub

*.pcap
*.pcapng
*.cap
*.mitm
*.session
*.log
*.sqlite
*.db
loot/
reports/
screenshots/

directories.txt
htb/
